<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-2">
      <h3>Users</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-center font-weight-bold">
      First Name
    </div>
    <div class="col-md-2 text-center font-weight-bold">
      Last Name
    </div>
    <div class="col-md-4 text-center font-weight-bold">
      Email
    </div>
    <div class="col-md-2 text-center font-weight-bold">
      Date Of Birth
    </div>
  </div>
  <div class="row" *ngFor="let user of users; let i = index">
    <div class="col-md-2 text-center">
      {{ user.firstName }}
    </div>
    <div class="col-md-2 text-center">
      {{ user.lastName }}
    </div>
    <div class="col-md-4 text-center">
      {{ user.email }}
    </div>
    <div class="col-md-2 text-center">
      {{ user.dateOfBirth }}
    </div>
    <div class="col-md-2">
      <app-delete-user-dialog [user]="user" (delete)="removeUser(i)"></app-delete-user-dialog>
      <app-update-user-dialog [user]="user" (update)="getAllUsers()"></app-update-user-dialog>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 text-center">
      <app-create-user-dialog (create)="getAllUsers()"></app-create-user-dialog>
    </div>
  </div>
</div>